<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/mariohines/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mariohines" />
            <add key="ClearTextPassword" value="01b1b8ee84abacd86b4a743903d4b6862f56b651" />
        </github>
    </packageSourceCredentials>
</configuration>